a.logo {
    background-image: url('./images/logo.png');
    width: 69px;
    height: 80px;
}
a.logo:hover {
    background-image: url('./images/logoHover.png');
    width: 69px;
    height: 80px;
}
#global{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}
.bg-accueil{
    background-image: url('./images/bg-image.jpg');
    background-size: cover;
    height: 100vh;
}
.bg-gabarit{
    padding-left: 0% !important;
    padding-right: 0% !important;
}
.margin-row {
    margin-left: 10% !important;
    margin-right: 10% !important;
}